.container{
    background-color: #F5F6F7;
}
.container-hesder{
    padding-top: 60px;
    margin-bottom: 40px;
    
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.container-article{
    margin-right: 108px;
    margin-left: 108px;

    font-size: 16px;
    font-weight: 600;
    text-align: center;


}

.start{
    width: 195px;
    height: 55px;

    margin-bottom: 95px;

    background-color: #16A085;
    color: white;
    font-size: 12px;

    text-transform: uppercase;
}
.container-footer{
    padding-top: 45px;
    margin-bottom: 45px;
    padding-right: 105px;

    font-size: 16px;
    font-weight: 500;
    text-align: right;

    background-color: white;
}
