<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>404</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMsg}}</p>
        </div>
        
    </body>
    {{>footer}}
</html> 