<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <img class="portrait" src="/img/img_2487.jpg" alt="">
        <p>{{name}}</p>
        </div>
            {{>footer}}        
    </body>


</html>