<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
       
        <p>{{helpMsg}}</p>
        </div>
        {{>footer}}    
    </body>
    
</html> 