<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script>
        <title>Main</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this saite to get your weather!</p>
            {{!-- <p>{{name}}</p> --}}
        </div>
        {{>footer}}
    </body>
        

</html>